/*
Syntax error: Invalid CSS after "}": expected selector or at-rule, was "<style type="te..."
        on line 12 of C:/Users/Sakurayo/Desktop/demo/sass/screen.scss

Backtrace:
C:/Users/Sakurayo/Desktop/demo/sass/screen.scss:12
C:/Users/Sakurayo/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/scss/parser.rb:1146:in `expected'
C:/Users/Sakurayo/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/scss/parser.rb:1083:in `expected'
C:/Users/Sakurayo/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/scss/parser.rb:28:in `parse'
C:/Users/Sakurayo/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/engine.rb:342:in `_to_tree'
C:/Users/Sakurayo/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/engine.rb:315:in `_render'
C:/Users/Sakurayo/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/engine.rb:262:in `render'
file:/C:/Users/Sakurayo/Desktop/fire.app/fire-app.jar!/compass_patch.rb:168:in `compile'
C:/Users/Sakurayo/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
file:/C:/Users/Sakurayo/Desktop/fire.app/fire-app.jar!/compass_patch.rb:167:in `compile'
C:/Users/Sakurayo/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/logger.rb:45:in `red'
file:/C:/Users/Sakurayo/Desktop/fire.app/fire-app.jar!/compass_patch.rb:166:in `compile'
C:/Users/Sakurayo/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
C:/Users/Sakurayo/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1620:in `each'
C:/Users/Sakurayo/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
C:/Users/Sakurayo/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
C:/Users/Sakurayo/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
C:/Users/Sakurayo/Desktop/fire.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/compiler.rb:25:in `compile'
org/jruby/RubyKernel.java:2105:in `send'
(__FORWARDABLE__):3:in `compile'
file:/C:/Users/Sakurayo/Desktop/fire.app/fire-app.jar!/app_watcher.rb:42:in `watch!'
file:/C:/Users/Sakurayo/Desktop/fire.app/fire-app.jar!/ui/tray.rb:514:in `watch'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected selector or at-rule, was \"<style type=\"te...\"\A         on line 12 of C:/Users/Sakurayo/Desktop/demo/sass/screen.scss"; }
